.vscode
node_modules
.DS_Store

static
!static/manifest.json

static_ff
!static_ff/manifest.json

dist
release
test/background.js
source
/test-results/
/playwright-report/
/playwright/.cache/
