.cd-extension-button {
  --cd-extension-border: 5px;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 1rem 2.25rem;
  border-radius: 4px;

  border: none;
  position: relative;
  background: #343a40;
  color: #fff;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 1.25rem;
  line-height: 2rem;

  margin: 10px 0;
}
.cd-extension-button:hover {
  cursor: pointer;
  background: #343434;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.cd-extension-button:before {
  --angle: 45deg;
  --size: -0.1rem;

  content: "";
  display: block;
  position: absolute;
  border-radius: 4px;
  top: var(--size);
  bottom: var(--size);
  right: var(--size);
  left: var(--size);
  z-index: -1;
  background: linear-gradient(45deg, red, orange);
}

.cd-extension-loading:before {
  --angle: 0deg;
  --size: -0.2rem;
  background: linear-gradient(var(--angle), red, orange);
  animation: flow-gradient 2s infinite ease-in-out;
}

@keyframes flow-gradient {
  to {
    --angle: 360deg;
  }
}
